:root {
	--font-H1: 150px Bellefair;
	--font-H2: 100px Bellefair;
	--font-H3: 56px Bellefair;
	--font-H4: 32px Bellefair;
	--font-H5: 28px Barlow Condensed;

	--font-P1: 28px Bellefair;
	--font-P2: 14px Barlow Condensed;

	--font-Nav: 16px Barlow Condensed;
	--font-Body: 14px arial;

	--color-primary: #ffffff;
	--color-secondary: #d0d6f9;
	--color-tertiary: #0b0d17;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
main {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}

.navbar {
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
}

.navbar-icon {
	padding: 4rem 3rem;
}

.navbar-list {
	background: rgba(180, 180, 180, 0.08);
	backdrop-filter: blur(2rem);
	height: 6rem;
	padding-inline: 9rem;
	display: flex;
	align-items: center;
	column-gap: 3rem;
	list-style: none;
	letter-spacing: 0.4ch;
	text-transform: uppercase;
	font: var(--font-Nav);
	color: var(--color-primary);
}

.navbar-line {
	z-index: 10;
	transform: translateX(30px);
	height: 1px;
	width: 40%;
	background-color: rgba(100, 100, 100, 0.6);
}

.navbar-link {
	color: var(--color-primary);
	text-decoration: none;
}

.navbar-item span {
	font-weight: 800;
}

.navbar-item {
	display: flex;
	padding-block: calc((6rem / 2) - 12px);
	column-gap: 0.6rem;
}

.navbar-active {
	border-bottom: 3px solid white;
}

.main {
	position: absolute;
	inset: auto 8rem 8rem 8rem;
	display: flex;
	column-gap: 20%;
}

.main-home {
	margin: 0;
	padding: 0;
	position: absolute;
	background-image: url(../assets/home/background-home-desktop.jpg);
}

.main-moon {
	margin: 0;
	padding: 0;
	position: absolute;
	background-image: url(../assets/destination/background-destination-desktop.jpg);
}

.image-big {
	height: 20rem;
	aspect-ratio: 1;
}
.nav-mini {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 20em;
	padding-left: 0;
}
.nav-mini-item {
	font: var(--font-Nav);
	color: var(--color-primary);
}
.main-section {
	display: grid;
	grid-template-rows: 30px, 1fr;
	position: absolute;
	left: 6rem;
	right: 6rem;
	bottom: 6rem;
}

.section {
	height: 50vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-1 {
	display: grid;
	place-items: center;
}

.section-2 {
	display: flex;
	flex-direction: column;
	row-gap: 0;
}

.heading {
	text-transform: uppercase;
	letter-spacing: 0.25ch;
	font: var(--font-H5);
	color: var(--color-secondary);
}

.description {
	font: var(--font-Body);
	color: var(--color-secondary);
}

.information {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 30px);
}
.title {
	margin: 0;
	padding: 0;
	font: var(--font-H1);
	text-transform: uppercase;
	color: var(--color-primary);
}

.info {
	font: var(--font-P1);
	color: var(--color-secondary);
}

.info-item {
	font: var(--font-Nav);
	color: var(--color-secondary);
}
.explore {
	margin: auto 0 0 0;
}
.explore-button {
	margin: auto 0;
	height: 14rem;
	aspect-ratio: 1;
	border-style: none;
	border-radius: 100%;
	font: var(--font-P1);
	text-transform: uppercase;
	transition: 200ms;
}

.explore-button:hover {
	box-shadow: 0 0 0 4rem rgba(255, 255, 255, 0.159);
}

.transition-slide {
	transition: 400ms;
	transform: translateX(0);
	transform-origin: left;
	opacity: 1;
}

html.is-animating .transition-slide {
	transform: translateX(100%);
}

html.is-leaving .transition-slide {
	opacity: 0.6;
	transform: translateX(0);
}
